.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0; /* Right Sided */
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px; /* Place content 60px from the top */*/
    transition: .5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    /*font-size: 25px;*/
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav #closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    /*margin-left: 50px;*/
}

.tabBar{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  justify-content: space-between;
}

.tabBar a{
  width: 49%;
  padding: 0.5em 0 0.5em 0;
  /*padding: 0.5em 2em 0.5em 2em;*/
  border-bottom: 0.1em solid #818181;
}

.tabBar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    border-bottom: 0.1em solid #f1f1f1;
}

.objs{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1em;
}

.cardCircles {
  margin: 0.2em 0.4em;
  display: block;
  width: 2em;
  height: 2em;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
  border-color: black;
  background-color: white;
}

.liked {
  border-color: green;
  border-width: medium;
}

.highlighted {
  background-color: gold;
}

.disliked {
  border-color: red;
  background-color: red;
  border-width: medium;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content_screen {
    transition: margin-right .5s;
    /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 10px;}
}
