#mySidenav{
  display: none;
  position: relative;
  flex-grow: 1;
  order: 2;
  width: 5%;
  background-color: #111;
  z-index: 10;
  overflow-x: hidden;
  border-left-width: medium;
  border-left-style: outset;
  border-left-color: black;
}

/* The navigation menu links */
.sidenav a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  /*font-size: 25px;*/
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#closebtn {
  position: relative;
  top: 0;
  left: 0;
  width: inherit;
  font-size: 1.5em;
  /*margin-left: 50px;*/
}

#searchBar {
  position: relative;
  width: 97%;
  font-size: 1.25em;
}

#filterBar{
  width: 90%;
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#filterBar a {
  display: block;
  height: 1.4em;
  width: 1.4em;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
  text-align: center;
}

#filterBar a span {
  font-size: 1.5em;
}

#likedFilter {
  color: green;
  background-color: green;
}

#highlightedFilter {
  color: gold;
  background-color: gold;
}

#dislikedFilter {
  color: red;
  background-color: red;
}

#plainFilter {
  color: white;
  background-color: white;
}

#tabBar{
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  justify-content: space-between;
}

#tabBar a{
  width: 49%;
  padding: 0.5em 0 0.5em 0;
  /*padding: 0.5em 2em 0.5em 2em;*/
  border-bottom: 0.1em solid #818181;
}

#tabBar a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    border-bottom: 0.1em solid #f1f1f1;
}

.objs{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1em;
}

.cardCircles {
  margin: 0.2em 0.4em;
  display: block;
  width: 2em;
  height: 2em;
  border-style: solid;
  border-width: medium;
  border-radius: 50%;
  border-color: black;
  background-color: white;
}

.liked {
  border-color: green;
}

.highlighted {
  background-color: gold;
}

.disliked {
  background-color: red;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 10px;}
}
